---
layout: archive
---

{%- if page.header and page.header.image -%}
  <header class="page__header">
    <figure class="page__header-image">
      <img src="{{ page.header.image }}" alt="{{ page.header.alt | default: site.title }}">
      {%- if page.header.caption -%}
        <figcaption class="page__header-caption">{{ page.header.caption }}</figcaption>
      {%- endif -%}
    </figure>
  </header>
{%- endif -%}

{{ content }}

{% comment %}
Show the last 5 posts in reverse chronological order without the Recent Posts header
{% endcomment %}

{% assign posts_to_show = site.posts | sort: "date" | reverse | slice: 0,5 %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts_to_show type=entries_layout %}
</div>
